# Default ignored files
/shelf/
/workspace.xml
/vcs.xml
/modules.xml
/misc.xml
/.name
# Datasource local storage ignored files
/../../../../../../../../:\1- UMLearn\COMP\COMP 3411\Assignments\A5\Process Synchronization\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
